.venv
.mypy_cache
__pycache__/
.ipynb_checkpoints
.DS_Store
data/

# Environment variables with API keys
.env

# Output files
output/
*.wav
*_script.txt

.auth
*.ipynb
dist/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/.terraform/
docs/build/
.coverage
google_auth.json
site/
